<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        body{
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIdWIv8CfwyBU8A3axCXpDCi5_9f2j5BK1Q&usqp=CAU');
            background-size: 100%;
        }
    </style>
</head>
<body>
    <center><h1>Registration Form</h1></center>
    <form method="POST">
        <center><label for="">Username:</label>
        <input name="username" type="text">
        <br>
        <label for="">Mobile</label>
        <input name="mobile" type="text">
        <br>
        <label for="">Address</label>
        <input name="address" type="text">
        <br>
        <label for="">Email</label>
        <input name="email" type="text">
        <br>
        <label for="">Password</label>
        <input name="password" type="text">
        <br>
        <button>Submit</button></center>
    </form>
</body>
</html>