{% extends 'home.html' %}
{% block content %}
<form method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input value="{{ post[1] }}" type="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Content</label>
        <textarea name="content" rows=""10>{{ post[2] }}</textarea>
    </div> 
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Slug</label>
        <input value="{{ post[4] }}" type="slug" class="form-control" name="slug" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
</form>
{% endblock %}